{# Frontend Ad Submit Products Choosers View #}
<div class="pad-xs-5-only-lr">

{% include('chunks/ads-submission-title-bit') %}

{{ steps_wizard_markup }}

<h2 class="margin-bottom-sm">Vrsta oglasa</h2>

{{ form(NULL, 'id':'frm_ads_submit', 'method':'post', 'autocomplete':'off') }}
    {{ hiddenField('_csrftoken') }}
    <div class="row product-chooser">
        <div class="col-md-9">
            {{ products_chooser_markup }}

            {% if show_offline_phone_warning is defined and show_offline_phone_warning %}
            <div class="row print-no-phone" style="display:none">
                <div class="col-md-12 col-lg-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>Upozorenje!</strong> Vaš oglas nema upisan broj telefona i bez tog podatka se ne može
                        objaviti u tisku. Molimo Vas da se vratite na prethodni korak i popunite podatak o broju
                        telefona!
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3 purchase-summary">
            <p class="margin-top-0 margin-bottom-30px"><b>Pregled kupnje</b></p>
            <div class="products">
                <div class="bg-white border-radius padding-sm text-small pregled-kupnje-box margin-bottom-sm" data-type="online" style="display:none">
                    <img src="{{ url('assets/img/product-icons/online-osnovni.png') }}" alt="" class="fl icon margin-right-sm">
                    <div class="name text-bold"></div>
                    <div class="description"></div>
                </div>
                <div class="bg-white border-radius padding-sm text-small pregled-kupnje-box margin-bottom-sm" data-type="offline" style="display:none">
                    <img src="{{ url('assets/img/product-icons/offline-mali-privatni.png') }}" alt="" class="fl icon margin-right-sm">
                    <div class="name text-bold"></div>
                    <div class="description"></div>
                </div>
            </div>
            <h3 class="total">Ukupno: <span id="full-total" class="fr total-price">{{ products_cost_total }}</span></h3>
        </div>
    </div>
    <div class="text-right clearfix">
        <div>
            <button class="btn btn-primary pull-right" type="submit" name="next" id="submitter" value="1"><span class="button-text">Dalje</span></button>
        </div>
    </div>
{{ endform() }}

</div>
