{#
<div class="btn-group btn-tabs display-mode-toggle display-inline" role="group">
    {{ hiddenField(['viewType', 'value':viewType, 'data-default-value':default_viewType]) }}
    <button {{ viewType == 'list' ? 'disabled="disabled" ' : '' }}type="button" class="display-mode-list{{ viewType == 'list' ? ' active' : '' }}" data-name="viewType" data-value="list">list</button>
    <button {{ viewType == 'grid' ? 'disabled="disabled" ' : '' }}type="button" class="display-mode-grid{{ viewType == 'grid' ? ' active' : '' }}" data-name="viewType" data-value="grid">grid</button>
</div>
#}
