.nav-tabs.deletable > li {
    position:relative;
}

.nav-tabs.deletable > li > a {
    display:inline-block;
}

.nav-tabs.deletable > li > span {
    cursor:pointer;
    position:absolute;
    right:2px;
    top:2px;
    opacity:.25;
}

.nav-tabs.deletable > li > span:hover {
    opacity:.75;
}

.tab-content .tab-pane {
    padding-top:1em;
}
