/* Backend specific css */

.help {
    cursor:help;
}

.cursor-pointer { cursor:pointer; }

.margin-bottom-15 { margin-bottom:15px; }
.no-margin { margin:0; }
.no-border-radius { -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; }
.bg-muted { background-color: #eee;}

.margin-top-05 { margin-top:0.5em; }
.margin-top-10 { margin-top:1.0em; }
.margin-top-15 { margin-top:1.5em; }
.margin-top-20 { margin-top:2.0em; }
.margin-top-25 { margin-top:2.5em; }
.margin-top-30 { margin-top:3.0em; }

.sidebar .arrow { position:absolute; right:5px; top:13px; float:none; }
.sidebar .fa.arrow:before { content: "\f105"; }
.sidebar .active>a>.fa.arrow:before { content: "\f107"; }

.panel-heading .panel-heading-handle { float:left; font-size:14px; height:34px; line-height:1.42857; padding:6px 12px 6px 0; cursor:move; }

.panel-heading-has-buttons {}
.panel-heading-has-buttons .panel-title { line-height:1.5; }

.radio label:hover, .checkbox label:hover { color:#009fe3; }

span.required_parameter { display:inline-block; margin-left:0.5em; }

.typeahead li a span, .typeahead li a small { display:block; }

#user_id_input span.username { color:#333; }

#user_id_input span.full_name { margin-left:1em; color:#999; }

#page-wrapper { padding-bottom:1em; }
footer .navbar-text { margin-left:15px; margin-right:15px; }

.nowrap { white-space:nowrap; }

table.master-detail
table.master-detail .master-row { display:table-row; }
table.master-detail .detail-row { display:none; }

table.media-details { width:100%; font-size:85%; }

table.model-relationships { font-size:85%; }

table th small { font-size:85%; font-weight:normal; }

table.table-double-rows { border-bottom:1px solid transparent; }
table.table-double-rows tr { border:0; }
table.table-double-rows td { border:0; }
table.table-double-rows tr.primary-info td { border-top:1px solid transparent; }
table.table-double-rows tr.details { }
table.table-double-rows tr.details td { border-top:1px solid transparent; }
table.table-double-rows tr.spacer { background-color:transparent; }
table.table-double-rows tr.spacer td { padding:0; border-top:0; border-bottom:0; line-height:10px; }

table.table-dates { font-size:85%; margin-bottom:0; border-bottom:0; }

/* Media Library */
#dropzone-template { display:none; }
.media-search-results small { font-size:80%; }
.media-search-results .pagination { margin-top:0; }

.btn-xs .glyphicon, #media-upload-btn .glyphicon { top:2px; }
a .glyphicon { width:1.25em; }

img.no-thumb-svg { background-color:#D0D3D6; }
.bootstrap-select span.icon.no-thumb-svg { background-color:#D0D3D6 !important; }
.bootstrap-select .filter-option .icon.no-thumb-svg { float:left; display:inline-block; width:20px; height:20px; margin-right:10px; }

.attachment { position:relative; padding:0; margin-bottom:2em; color:#464646; text-align:center; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }
.attachment-preview { position:relative; background:#eee; -webkit-box-shadow:inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05); box-shadow:inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05); }
.attachment-preview:before { content:''; display:block; padding-top:100%; }
.attachment-preview .error { display:none; }
.attachment .thumb { overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0; opacity:1; -webkit-transition:opacity .1s; transition:opacity .1s; margin:0; }
.attachment .thumb:after { content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.1); box-shadow: inset 0 0 0 1px rgba(0,0,0,.1); overflow:hidden; }
.attachment .thumb .centered { position:absolute; top:0; left:0; width:100%; height:100%; -webkit-transform:translate(50%,50%); -ms-transform:translate(50%,50%); transform:translate(50%,50%); }
.attachment .thumb .centered img { -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.attachment .thumb .centered img.icon { -webkit-transform:translate(-50%, -70%); -ms-transform:translate(-50%, -70%); transform:translate(-50%, -70%); }
.attachment .landscape img { max-height:100%; }
.attachment .portrait img { max-width:100%; }
.attachment .thumb img { top:0; left:0; position:absolute; }
.attachment .filename { position:absolute; left:0; right:0; bottom:0; overflow:hidden; max-height:100%; word-wrap:break-word; text-align:center; font-weight:700; background:#fff; background:rgba(255,255,255,.8); -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); }
.attachment .filename div { padding:5px 10px; font-size:80%; }

.attachment-preview .filename { display:none; }
.attachment-preview.type-file .filename { display:block; }

.media-grid .crop-modal-link { cursor:pointer; }
.media-grid .attachment .style-details { background:#f1fcff; background: rgba(241, 252, 255, .8); }
.media-grid .attachment-preview .style-details { display:block; }

  .attachment-preview .media-progress { position:absolute; top:50%; left:15%; width:70%; margin:-5px 0 0 0; }
.media-progress { position:relative; height:10px; width: 70%; margin:10px auto; background: #dfdfdf; background: rgba( 0, 0, 0, 0.1 ); }
.media-progress div { height:10px; min-width:20px; width:0; -webkit-transition: width 300ms; transition: width 300ms; }

.dz-error .attachment-preview .error { display:block; position:absolute; left:0; right:0; top:50%; overflow:hidden; max-height:100%; word-wrap:break-word; text-align:center; font-weight:700; background:#fff; background:rgba(255,255,255,.8); -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); box-shadow:inset 0 0 0 1px rgba(0,0,0,.15); }
.dz-error .attachment-preview .error {-webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.dz-error .attachment-preview .error .alert { padding:5px 10px; font-size:80%; margin-bottom:0; }

.attachment .action { display:none; height:24px; width:24px; position:absolute; top:-6px; right:-6px; outline:0; text-decoration:none; color:#fff; }
.attachment .action .icon { vertical-align:middle; color:#fff; display:block; text-align:center; width:100%; margin:4px auto; }
.attachment .action.delete .icon { margin:5px auto; }

.attachment .check { display:none; background:#eee; -webkit-box-shadow:0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15); box-shadow:0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15); }
.attachment.selected .check { display:block; }
.attachment .check .icon-hover { display:none; }
.attachment .check:hover .icon { display:none; }
.attachment .check:hover .icon-hover { display:block; }

.attachment .delete, .attachment .import { display:none; color:#333; -webkit-box-shadow:0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15); box-shadow:0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, .15); }
.attachment:hover .delete, .attachment:hover .import { display:block; }
.bulk-selection-mode .attachment .delete, .bulk-selection-mode .attachment:hover .delete, .bulk-selection-mode .attachment .import, .bulk-selection-mode .attachment:hover .import { display:none; }

.attachment.details .check, .attachment.selected .check:focus, .attachment.selected .check { background-color:#1e8cbe; -webkit-box-shadow:0 0 0 1px #fff, 0 0 0 2px #1e8cbe; box-shadow:0 0 0 1px #fff, 0 0 0 2px #1e8cbe; }
.media-search-results.bulk-selection-mode .attachment .thumb { opacity:.65; }
.media-search-results.bulk-selection-mode .attachment.selected .thumb { opacity:1; }

.selected.attachment { -webkit-box-shadow:0 0 0 2px #1e8cbe; box-shadow:0 0 0 2px #1e8cbe; outline:0; }

.attachment:focus, .selected.attachment:focus { outline:0; }
/* .attachment.details:focus, .attachment:focus, .selected.attachment:focus { -webkit-box-shadow:0 0 5px 2px #d9edf7; box-shadow:0 0 5px 2px #d9edf7; outline:0; } */

form#media-edit .fileinput { display:block; margin-bottom:0; }
.fileinput .btn { display:block; }
.fileinput-filename-wrap { display:block; overflow:hidden; text-overflow:ellipsis; width:100%; }
.fileinput-filename-wrap .fileinput-filename { display:inline; }
.fileinput-filename-wrap .close { font-size:100%; float:none; display:inline-block; }
.fileinput-filename-wrap .close .glyphicon { vertical-align:top; }

form.orders-xml-upload { }
.search-upload-wrapper .fileinput { margin-bottom:0; display:inline; }
.search-upload-wrapper .form-group { vertical-align:top; }

#media-upload-btn { position:relative; }
.progress-total-inline { background-color:#f5f5f5; border-radius:4px; -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset; box-shadow:0 1px 2px rgba(0, 0, 0, 0.1) inset; display:inline-block; float:left; height:10px; margin-bottom:0; overflow:hidden; position:absolute; left:0; top:-45%; width:100%; opacity:0; }
.progress-total-inline .progress-bar { background-color:#428bca; -webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.15) inset; box-shadow:0 -1px 0 rgba(0, 0, 0, 0.15) inset; color:#fff; display:inline-block; float:left; font-size:12px; height:100%; line-height:20px; text-align:center; transition:width 0.6s ease 0s; width:0; }

.modal-cropper-container { position:relative; text-align:center; background:#efefef; margin:0 auto; }
.cropper-container { left:0 !important; }
.modal-cropper img { max-width:100%; }
.modal-cropper-container .cropper-container .cropper-invisible { width:100% !important; height:100% !important; }

.mentions-input .highlighter-content strong { background-color:#aaffaa !important; }
.mentions-input .highlighter-content strong.error { background-color:#ffdddd !important; }

.cke_dialog_contents #availableImageCrops > div.imageCrop { padding:5px; width:120px; height:145px; float:left; }
.cke_dialog_contents #availableImageCrops > div.imageCrop * { cursor:pointer; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div { display:block; width:110px; height:135px; padding:5px; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div:hover { background-color:#e5e5e5; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div.current { background-color:#aaa; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div .dimensions { text-align:center; margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #ddd; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div .image { display:table-cell; width:110px; height:110px; vertical-align:middle; }
.cke_dialog_contents #availableImageCrops > div.imageCrop > div .image img { display:block; width:100%; height:auto; max-width:100%; margin:auto 0; }

/* styling product chooser boxes for the backend */
.product-box-backend .product-options,
.product-box-backend .product-description,
.product-box-backend .additional-options,
.product-box-backend .homepage-options,
.product-box-backend .product-extras,
.product-box-backend .product-extras .extras-prices {
    display:none;
}
.product-box-backend.on .product-options,
.product-box-backend.on .product-description,
.product-box-backend.on .product-extras {
    display:block;
}


/* CSS Tables */
.table {
    border-bottom:1px solid #ddd;
}
.table .table-header {
    border-top:1px solid #ddd;
    background-color:#f9f9f9;
    font-weight:bold;
}
.table .table-row {
    border-top:1px solid #ddd;
    overflow:hidden;
}
.table-striped .table-row:nth-of-type(2n+1) {
    background-color:#f9f9f9;
}
.table .cell {
    padding:5px;
}
.table .table-row .cell {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.table .table-row:hover {
    background-color:#f5f5f5;
}
.table .table-row:hover .cell {
    background-color:;
}
.table .cell.status {
    position:relative;
    border-left:10px solid transparent;
    font-size:12px;
}
.table .cell.status > strong {
    display:inline-block;
    width:100%;
    border-bottom:1px dotted #ddd;
    padding-bottom:4px;
    margin-bottom:4px;
}
.table .cell.status-active {
    background-color:#dff0d8;
    border-left:10px solid #3c763d;
    color:#3c763d;
}
.table .cell.status-inactive {
    background-color:#eee;
    border-left:10px solid #999;
    color:#333;
}
.table .cell.status-spam {
    background-color:#777;
    border-left:10px solid #333;
    color:#fff;
}
.table .cell.status-deleted {
    background-color:#f2dede;
    border-left:10px solid #a94442;
    color:#a94442;
}
.table .hover-options {
    visibility:hidden;
    background-color:#fff;
    padding:0 5px;
    margin-top:5px;
    border-top:1px solid #ddd;
    font-size:12px;
}
.table .hover-options .options {
    padding:5px 0;
}
.table .table-row:hover .hover-options {
    visibility:visible;
}
.table .table-row .img {
    padding:1em;
}
.table .table-row .cell.img {
    padding:.85em 0;
}
.table .table-row .cell.img img {
    width:100px;
    height:75px;
}
.table .table-row .classified-pic {
    float:left;
    width:100px;
    margin-right:1em;
}
.table .table-row .classified-info {
    margin-left:120px;
}

/** Featured shops */
#selected-feature-shop-ads {}
#available-feature-shop-ads {}
#available-feature-shop-ads .form-group,
#selected-feature-shop-ads .form-group {
    padding: 2em 1em 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    position: relative;
}
#selected-feature-shop-ads .form-group .control-label,
#available-feature-shop-ads .form-group .control-label {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f5f5f5;
    padding: 5px 1em;
    left: 0;
    text-align: left;
    color: #018BE3;
    font-weight:normal;
}

.post-box {
    padding:1.5em 0 1em;
    border-bottom:1px solid #ddd;
    overflow:hidden; /* <- clearfix */
}
.post-box:last-child { border-bottom:none; }
.post-box img {
    float:left;
    margin:0 1em 0.5em 0;
}

/* ad submission form - parameters tweaks */
.solo-checkbox {}
.solo-checkbox .spacer {}
.row .solo-checkbox:first-child:last-child .spacer { display:none; }

.uploadable-holder { position:relative; }
.uploadable-holder #parameter_uploadable_progress { position:absolute; width:50%; top:8px; right:15px; }

.checkbox-inline.parameter-required { vertical-align:baseline; margin-right:1em; }
.checkbox-inline.parameter-required label { font-weight:normal; font-size:12px; }
.checkbox-inline.parameter-required input[type="checkbox"] { margin:0 0 0 -20px; }

.bootstrap-select li span.icon { float:left; display:inline-block; width:20px; height:20px; background-size:contain; background-repeat:no-repeat; background-position:center center; background-color:transparent; }

#registered-users-chart {
    height:436px;
}

/* sentence case buttons on backend ad edit form */
#ad_description_box, #ad_description_offline_box, #ad_title_box { position:relative; }
#ad_description_box .sentencer, #ad_description_offline_box .sentencer, #ad_title_box .sentencer { position:absolute; right:16px; top:0; }

@media (max-width: 991px) {
    .table .table-row .classified-info {
        margin-left:0;
    }

    #registered-users-chart {
        height:auto;
    }
}

@media (max-width: 767px) {
    .table .hover-options {
        visibility:visible;
    }
    .table .xs-status {
        border-left:10px solid transparent;
    }
    .table .xs-status.status-active {
        border-left:10px solid #3c763d;
    }
    .table .xs-status.status-inactive {
        border-left:10px solid #777;
    }
    .table .xs-status.status-spam {
        border-left:10px solid #333;
    }
    .table .table-row .img {
        clear:both;
    }
    .table .table-row .classified-info {
        margin-left:16px;
    }
}
