#userTypeDetails .companyField {
    display:none;
}

#userTypeDetails.companyData .companyField {
    display:block;
}

#userTypeDetails.companyData span.companyField {
    display:inline-block;
    margin-right:5px;
}
