{# korištenje:

{{ partial("partials/blkFlashSession") }}

  #}
<script>

  $('#flashSessionDiv').animate({scrollTop:$(document).height()}, 1000);
	

</script>

<div id ="flashSessionDiv" style="display:block; bottom:0;">
	

	<span 
	class="pull-left glyphicon glyphicon-resize-small flash_session_resize"
	title = "Click to show messages"
	onclick = "
				var clicks = $(this).data('clicks');
				if (clicks) {
					$('.flash_sessions_box').css({'max-height':'150px', 'overflow-y':'scroll'})
				  } else {
					$('.flash_sessions_box').css({'min-height':'','max-height':'','height':'', 'overflow-y':''})
				  }
				  $(this).data('clicks', !clicks)
				  $('.flash_sessions_box').scrollTop($('.flash_sessions_box')[0].scrollHeight);
				  if ( !($('.flash_sessions_box').children().children().length > 0 )){
					$('.flash_session_resize').hide()
					$('.flash_session_remove').hide()			
				  }"
	>
	
	</span>
	&nbsp;&nbsp;&nbsp;
	<span 
	
	class="glyphicon glyphicon glyphicon-remove flash_session_resize"
	title = "remove messages"
	class="flash_session_remove"
	onclick = "$('.flash_session').children().remove()
				$('.ajax_flash_session').children().remove()
				if ( !($('.flash_sessions_box').children().children().length > 0 )){
						$('.flash_session_resize').hide()
						$('.flash_session_remove').hide()			
					}"
	>
	
	</span>
	
<!-- 	<div class="flash_sessions_box" style="width: calc(100% - 30px); float:left;"> -->
	<div class="flash_sessions_box" style="width:100% ; max-height:150px; float:left; overflow-y:scroll;">
		<div class="flash_session">{{ flashSession.output() }}</div>
		
		<div class="ajax_flash_session"></div>
		<!-- div za prikazivanje pruka preko javascripta -->
	</div>
<a id="bottomOfDiv"></a>
</div>

<script>
	   $('.flash_sessions_box').scrollTop($('.flash_sessions_box')[0].scrollHeight);
	   
	   if ( $('.flash_session').children().length == 0 && $('.ajax_flash_session').children().length == 0) {
			$('.flash_sessions_box').hide()
		}
		if ( !($('.flash_sessions_box').children().children().length > 0 )){
			$('.flash_session_resize').hide()
			$('.flash_session_remove').hide()
			
			
			
		}
		var objDiv = document.getElementById("flashSessionDiv");
		objDiv.scrollTop = objDiv.scrollHeight;
</script>


<style>
.alert{
	padding:0px;
	margin-bottom: 3px;
}
</style>