
.page-mm-container { background-color:#f6f6f6; }

.banner-background {
    text-align:center; margin:0 auto; padding:0;
    position: fixed; left: 0; top: 0; right: 0; bottom: 0;
    width:100%; height:100%; border:0; outline:none;
    background-repeat:no-repeat; background-attachment:fixed; background-position:50% 0; background-size:auto;
    z-index: -1; /* while loading */
}
.banner-background > div > iframe { text-align:center !important; margin:0 auto !important; display:block !important; }
.banner-background-zindex-auto { z-index:auto; }

.banner-728x90 { width:728px; }

.mm-opened .banner-background { z-index:-1; }

/*
.banner-background a { z-index:58; position:fixed; left:0; top:0; right:0; bottom:0; display:block; }
.banner-background a img { max-width:initial; }
*/

.container-with-background-banner { max-width:1340px; margin:0 auto; background-color:#f6f6f6; }

.banner-container-billboard { max-width:100%; width:970px; margin:0 auto; overflow:hidden; }

.sidebar-rectangle-holder { position:relative; }
.sidebar-rectangle-holder img, .sidebar-rectangle-holder iframe {
    position: relative;
    width: 300px;
    /*height: 250px;*/
    max-width: 300px;
    left: -1px;
}

.main-col ~ .side-col .sidebar-rectangle-holder img,
.main-col ~ .side-col .sidebar-rectangle-holder iframe {
    left:-30px;
}

@media (max-width: 1169px) {
    .sidebar-rectangle-holder img, .sidebar-rectangle-holder iframe {
        position:static;
        margin:0 auto;
        max-width:100%;
    }
}

@media (min-width:1280px) {
    .page-width-banners-wrapper .narrow {
        float:right;
        width:auto;
        margin-left:0;
    }

    .container-with-background-banner {
        max-width:1280px;
    }

    .classified-view-side-col .sidebar-rectangle-holder img, .classified-view-side-col .sidebar-rectangle-holder iframe {
        left:-18px;
    }
}
