#prophiler { display:none !important; }
.container { width:100%; }
.title-single h1 { color:#009fe3 !important; line-height:1.4; font-weight:600; }
.price-oglas-details { font-size:120%; }
.details p { margin:.5em 0; }
hr { margin:.5em 0; }
ul.colored li { padding-left:0; }
ul.thumbs { list-style:none; width:100%; float:left; margin:2em 0 0 0; padding:0; }
ul.thumbs li { list-style:none; float:left; width:30%; margin:0 2% 2% 0; }
.caret { display:none; }
a[href]:after, abbr[title]:after { content: none !important; }
