{# Admin's - Error 404 | base-app | 2.0 #}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Greška 404 - Traženi sadržaj nije pronađen</h1>
        <h4>Here be dragons. Pretty and useful 404s prettyplx!</h4>
    </div>
</div>
