<hr>
{{ partial("partials/blkFlashSession") }}
</hr>

<div>
<a class="btn btn-primary" href="/{{ _context['file_url'] }}" >DOWNLOAD FILE</a>
</div>
<textarea style="width:100%; height:500px;">{{text}}</textarea>

