<div class="row">
	<div class = "col-lg-8 col-md-8">
		{{ partial("partials/wraSubFormAjaxV2",[
			'_window_id' : 'crudDisplay'
			,'_url' : "/suva/ads2/crudDisplay/" ~ ( ad.id > 0 ? ad.id : 0 ) ~ "/" ~ ad.user_id 
		] ) }}
	</div>
	
	<div class = "col-lg-4 col-md-4">
		<div class="row">
			{#{ partial ("ads2/subPublicationsAndIssues") }#}
		</div>
	
	</div>
	