.list-categories ul {
    margin:0;
    padding:0 0 0 36px;
    list-style: none outside none;
}

.list-categories > ul {
    padding:0;
}

.list-categories li {
    margin-top: 10px;
}

.list-categories .placeholder {
    background-color: #ddd;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
}

.list-categories ul.subcategory {
    display:none;
}

.list-categories .category_div {
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    position: relative;
}

.list-categories .category_div:hover {
    background-color:#fffccc;
}

.list-categories .disabled .category_div, .list-categories .disabled .category_div:hover {
    background-color:#f2dede;
}

.list-categories .category_row {
    height: 26px;
    padding-left: 80px;
}

.drag-me {
    border-right: 1px solid #ddd;
    cursor: move;
    height: 36px;
    left:0;
    position: absolute;
    top:0;
    width: 36px;
    text-align:center;
    font-size:16px;
    line-height:36px;
    color:#616161;
}

.children {
    cursor:default;
    border-right: 1px solid #ddd;
    height: 36px;
    left: 36px;
    position: absolute;
    top: 0;
    width: 36px;
    text-align:center;
    font-size:16px;
    line-height:36px;
    color:#616161;
}

.children.clickable {
    cursor: pointer;
}

.drag-me:hover, .children:hover {
    color:#018be3;
}


.list-categories .name-cat, .list-fields .name-edit-cfield {
    color: #616161;
    font-size: 15px;
    line-height: 26px;
    padding-right: 120px;
}

.list-categories .name-cat, .list-fields .name-edit-cfield {
    color: #616161;
    font-size: 15px;
    line-height: 26px;
}


.actions-cat, .actions-edit-cfield {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}


.list-categories a {
    cursor: pointer;
}
a {
    color: #018be3;
    text-decoration: none;
}


.ui-sortable li ul {
    margin-left: 39px;
    padding: 0;
}

